<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Diplomata|Romanesco&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Home Page</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body onload="getCart()">
  {{!-- Image text --}}
  <div class="text">
    <p>And they lived happily ever after...</p>
  </div>

  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"> <img class="logo" src="/images/heartlogo.png" /> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          {{#each categories}}
          <li class="nav-item">
            <a class="nav-link" href="/products/{{id}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
        <ul class="navbar-nav">
          <li>
            {{#if user}}Hello {{user}}{{/if}}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="fa fa-shopping-cart fa-lg"></i></a>
          </li>
          {{#unless user}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/unless}}
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    {{{body}}}
    {{!-- FUTURE DEVELOPMENT --}}
    {{!-- Footer - There is empty body on the home page and therefore the footer is displayed at the top of the page --}}
    {{!-- TO FIX - ADD A CLASS CALLED WRAPPER AND DO NOT TRY TO REUSE ANY BOOTSTRAP CONTAINER CLASSES --}}
     {{!-- <footer>
      <div class="card-footer text-muted text-center">
        <h5 class="card-title">Made By:
          <a class="text-blue" target="_blank" href="https://github.com/kkiathub"><i class="fa fa-github"></i>Kanwee
            Kiatnikorn</a>
          <a class="text-blue" target="_blank" href="https://github.com/marinadelkovamoro"><i class="fa fa-github"></i>
            Marina Delkova-Moro</a>
          <a class="text-blue" target="_blank" href="https://github.com/soul1904"><i class="fa fa-github"></i> Soheil
            Behzad</a>
          <a class="text-blue" target="_blank" href="https://github.com/xxdamianxx"><i class="fa fa-github"></i>
            Damian Sanchez</a>
          <br>
          Copyright © 2019</h5>
      </div>
    </footer>  --}}


  </div>

  <div id="confirm-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Confirmation Page</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row table-title">
            <div class="col">Product Name</div>
            <div class="col">Price</div>
            <div class="col">Quantity</div>
          </div>
          <hr>
          <div class="modal-products">
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-usd">Purchase with USD</button>
          <button type="button" class="btn btn-success btn-bitcoin mr-auto">Purchase with Bitcoin</button>
          <h4 class="modal-total pt-2 mr-3"></h4>
          <button type="button" class="btn btn-danger btn-modal-close">Close</button>
        </div>
      </div>
    </div>
  </div>


  {{!-- Script --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/product.js"></script>
  <script src="/js/shoppingcart.js"></script>

</body>

</html>