<div class="container login-page px-4">
    <div class="container d-flex justify-content-center">
        <img class="image" src="images/heartlogo.png">
    </div>
        <br>
    <div class="container login-content p-4">
        <h3>
            {{#if islogin}}
            Sign-In
            {{else}}
            Create Account
            {{/if}}
            <span id="login-error"></span>
        </h3>
        {{#if islogin}}
        <form id="user-login">
            {{else}}
            <form id="user-sign-up">
                {{/if}}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                {{#unless islogin}}
                <div class="form-group">
                    <label for="cname">Name</label>
                    <input type="text" name="cname" class="form-control" id="cname" placeholder="Name">
                </div>
                {{/unless}}
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            <hr>
            <p>
                {{#if islogin}}
                No Account?<a class="btn-create d-inline" href="/signup">Create new account</a></span>
                <a class="btn-create d-inline" href="/">Cancel</a></span>
                {{else}}
                Already have an account?<a class="btn-create d-inline" href="/login">Sign-In</a></span>
                <a class="btn-create d-inline" href="/">Cancel</a></span>
                {{/if}}
            </p>
    </div>
</div>