<div class="card" style="width: 18rem;">
  {{#each products}}
  <div class="card-body">
  <img src={{image}} class="card-img-top" alt="...">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{details}}</p>
    <a href="#" class="btn btn-primary">Purchase</a>
  </div>
  {{/each}}
</div>

