<div class="card" style="width: 18rem;">
  {{#each products}}
  <div class="card-body">
  <img src={{image}} class="card-img-top" alt="...">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{details}}</p>
    <a href="https://commerce.coinbase.com/checkout/da94c7f6-787a-48b8-b8db-9cf28f3a9d94" class="btn btn-primary">Purchase</a>
  </div>
  {{/each}}
</div>

