{{#each products}}
<div class="card-group">
  <div class="card" style="width: 18rem;">

    <div class="card-body text-right">
      <img src={{image}} class="img-thumbnail float-left" style="width: 30rem;" alt="...">
      <h2 class="card-title">{{name}}</h2>
      <p class="card-text">{{details}}</p>
      <p class="card-text">Price USD: {{price}}</p>
      <a href="#" class="btn btn-secondary">Purchase</a>
    </div>
  </div>
</div>
{{/each}}