<div class="container-fluid" id="cart-page">
    <h3>Shopping Cart</h3>
    <hr>
</div>
<div class="container-fluid">

<div class="row p-3 pr-5" id="cart-buttons">
    <button type="button" class="btn btn-success mr-auto" id="cart-btn-continue">Continue Shopping</button>
    <h4 class="cart-total pt-2 mr-3">Total</h4>
    <button type="button" class="btn btn-warning" id="cart-btn-checkout">Checkout</button>
</div>
</div>
<script>
  $.get('https://bitpay.com/api/rates')
  .then(data => {
    console.log(data)
    console.log("Bitcoin Received Data");
    // window.bitcoinRate = data[2].rate;
    console.log(data[2].rate);
  })
  .catch(error => {
    console.log(error);
  });
</script>