body,
html {
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../images/main.jpg");
}
.card {
background-color: rgba(255, 255, 255, 0.7);
font-family: 'Playfair Display SC', serif;
font-size: 25px;
}

body {
    position: relative;
}

/* Top Left text over background image */
.text {
    position: absolute;
    top: 180px;
    right: 1060px;
    color: brown;
    padding-left: 60px;
    font-family: 'Romanesco', cursive;
    letter-spacing: 1px;
    font-size: 50px;
}

/* Navbar */
nav, .navbar-brand {
    font-family: 'Romanesco', cursive;
    font-size: 35px;
    letter-spacing: 0.5px;
}


/* style for login/signup pages */
.login-page {
  width: 540px;
  background-color: rgba(211, 211,211, 0.7);
  padding: 30px;
  margin-top: 20px;
}

.login-content {
  border : 1px solid darkslategrey;
  border-radius : 10px;
}

.btn-create {
  background-color: rgb(211, 211, 211);
  border: 1px solid lightslategrey;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
.btn-create:hover {
  text-decoration: none;
}

.form-control {
  background-color: rgba(182, 219, 231, 0.7);
  border: 1px solid darkgray;
}

#user-sign-up {
  font-weight: bold;
}

.logo {
  width: 60%;
  height: 60%;
}